{% extends "base.html" %}

{% block title %}
    Lead list
{% endblock title %}

{% block content %}
    <a href="{% url 'lead-create' %}">Create a new lead</a>
    <hr>
   
    {% if leads %}
        <p>This is all of our leads:</p>
        {% for lead in leads %}
            <div class="lead">
                <a href="{% url 'lead-detail' lead.id %}">{{ lead }}</a> Age: {{ lead.age }}
            </div>
        {% endfor %}
    {% else %}
        <p>We have no leads now</p>
    {% endif %}

{% endblock content %}
