{% extends "base.html" %}

{% block title %}
    {{ lead.first_name }} {{ lead.last_name }}
{% endblock title %}

{% block content %}
    <a href="{% url 'lead-list' %}">Go back to leads</a>
    |
    <a href="{% url 'lead-update' lead.id %}">Update a lead</a>
    |
    <a href="{% url 'lead-delete' lead.id %}">Delete a lead</a>
    <hr>
    <h1>This is the details of {{ lead.first_name }}</h1>
    <p>The persons age: {{ lead.age }}</p>
    <p>The agent responsible for this lead is {{ lead.agent }}</p>
{% endblock content %}

