{% extends "base.html" %}

{% block title %}
    Leads
{% endblock title %}

{% block content %}
<section class="text-gray-700 body-font">
    <div class="container px-5 py-6 mx-auto flex flex-wrap">
        <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
            <div>
                <h1 class="text-4xl text-gray-800">Leads</h1>
            </div>
            {% if request.user.is_organisor %}
                <div>
                    <a class="text-gray-700 hover:text-blue-500" href="{% url 'leads:lead-create' %}">
                    Create a new lead
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="flex flex-wrap -m-4">
            {% for lead in leads %}
                {% include "includes/user_card_template.html" with object=lead url='leads:lead-detail' id=lead.pk text='View this lead'%}
            {% endfor %}
        </div>
        <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
            <div>
                <h1 class="text-4xl text-gray-800">Unassigned Leads</h1>
            </div>
        </div>
        <div class="flex flex-wrap -m-4">
            {% for lead in unassigned_leads %}
                {% include "includes/user_card_template.html" with object=lead url='leads:lead-detail' id=lead.pk text='Assign an agent'%}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}