{% extends "base.html" %}

{% block title %}
    Agents
{% endblock title %}

{% block content %}
<section class="text-gray-700 body-font">
    <div class="container px-5 py-6 mx-auto flex flex-wrap">
        <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
            <div>
                <a href="{% url 'agents:agent-list' %}">
                    <h1 class="text-4xl text-gray-800">Agents</h1>
                </a>
            </div>
            <div>
                <a class="text-gray-700 hover:text-blue-500" href="{% url 'agents:agent-create' %}">
                    Create a new agent
                </a>
            </div>
        </div>
        <div class="flex flex-wrap -m-4">
            {% for agent in agents %}
                {% include "includes/user_card_template.html" with object=agent.user url='agents:agent-detail' id=agent.pk%}
            {% endfor %}
        </div>
    </div>
  </section>
{% endblock content %}